@tailwind base;
@tailwind components;
@tailwind utilities;




@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .drop-target {
    border-top: 1px solid green;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /* CSS class to move columns to the right */
  .move-right {
    transform: translateX(72px);
    /* Adjust the value as needed */
    transition: transform 0.3s ease;
    /* Adjust the transition duration and timing function */
  }

  /* CSS class to move columns to the left */
  .move-left {
    transform: translateX(-72px);
    /* Adjust the value as needed */
    transition: transform 0.3s ease;
    /* Adjust the transition duration and timing function */
  }
}